span {
  color: #fff;
}

.h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}

.h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.63px;
}

.h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.sh3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin: 8px 0;
}

.body1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.body2 {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.23px;
}
