<div class="drawer">
  <div class="sidebar">
    <!-- invoice-form.component.html -->
    <div class="invoice-form">
      <app-typography
        *ngIf="!invoiceId"
        variant="h2"
        text="New Invoice"
        color="#fff"
      />

      <app-typography
        *ngIf="invoiceId"
        variant="h2"
        text="Edit #{{ invoiceId }}"
        color="#fff"
      />

      <div class="bill-from">
        <app-typography variant="body2" text="Bill from" color="#7c5dfa" />
        <!-- Street Address Input -->
        <div class="form-group">
          <div>
            <app-typography variant="body2" text="Street Address" />
          </div>
          <!-- <label for="street"></label> -->
          <input type="text" id="street" [(ngModel)]="billFrom.street" />
        </div>

        <!-- City, Post Code, and Country Inputs -->
        <div class="form-group address">
          <div class="form-input">
            <div>
              <app-typography variant="body2" text="City" />
            </div>
            <input type="text" id="city" [(ngModel)]="billFrom.city" />
          </div>
          <div class="form-input">
            <div>
              <app-typography variant="body2" text="Post Code" />
            </div>
            <input type="text" id="postCode" [(ngModel)]="billFrom.postCode" />
          </div>
          <div class="form-input">
            <div>
              <app-typography variant="body2" text="Country" />
            </div>
            <input type="text" id="country" [(ngModel)]="billFrom.country" />
          </div>
        </div>
      </div>
      <div class="bill-to">
        <app-typography variant="body2" text="Bill to" color="#7c5dfa" />
        <!-- Street Address Input -->
        <div class="form-group">
          <div>
            <app-typography variant="body2" text="Client Name" />
          </div>
          <!-- <label for="street"></label> -->
          <input type="text" id="clientName" [(ngModel)]="billTo.clientName" />
        </div>
        <div class="form-group">
          <div>
            <app-typography variant="body2" text="Client Email" />
          </div>
          <!-- <label for="street"></label> -->
          <input
            type="text"
            id="clientEmail"
            [(ngModel)]="billTo.clientEmail"
          />
        </div>
        <div class="form-group">
          <div>
            <app-typography variant="body2" text="Street Address" />
          </div>
          <!-- <label for="street"></label> -->
          <input type="text" id="street" [(ngModel)]="billTo.street" />
        </div>

        <!-- City, Post Code, and Country Inputs -->
        <div class="form-group address">
          <div class="form-input">
            <div>
              <app-typography variant="body2" text="City" />
            </div>
            <input type="text" id="city" [(ngModel)]="billTo.city" />
          </div>
          <div class="form-input">
            <div>
              <app-typography variant="body2" text="Post Code" />
            </div>
            <input type="text" id="postCode" [(ngModel)]="billTo.postCode" />
          </div>
          <div class="form-input">
            <div>
              <app-typography variant="body2" text="Country" />
            </div>
            <input type="text" id="country" [(ngModel)]="billTo.country" />
          </div>
        </div>
      </div>
      <div class="select-date">
        <div class="form-input">
          <div>
            <app-typography variant="body2" text="Invoice Date" />
          </div>
          <input
            type="date"
            id="datepicker"
            (change)="onDateSelected($event)"
          />
        </div>
        <div class="payment-terms">
          <div>
            <app-typography variant="body2" text="Payment terms" />
          </div>
          <select id="dropdown" (change)="onOptionSelected($event)">
            <option value="1" selected="1 == paymentTerms">Next 1 Day</option>
            <option value="7" selected="7 == paymentTerms">Next 7 Days</option>
            <option value="14" selected="14 == paymentTerms">
              Next 14 Days
            </option>
            <option value="30" selected="30 == paymentTerms">
              Next 30 Days
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div>
          <app-typography variant="body2" text="Project Description" />
        </div>
        <!-- <label for="street"></label> -->
        <input type="text" id="description" [(ngModel)]="description" />
      </div>
      <div>
        <app-item-list></app-item-list>
      </div>
    </div>
  </div>
  <div class="footer">
    <!-- Fixed footer content goes here -->
    <div class="actions">
      <h3 *ngIf="!invoiceId" class="discard" (click)="discard()">Discard</h3>
      <h3 *ngIf="invoiceId"></h3>
      <div class="save-action" *ngIf="invoiceId">
        <h3 *ngIf="invoiceId" class="save-draft" (click)="discard()">Cancel</h3>
        <h3 class="save" (click)="update()">Save Changes</h3>
      </div>
      <div class="save-action" *ngIf="!invoiceId">
        <h3 *ngIf="!invoiceId" class="save-draft" (click)="save('draft')">
          Save as Draft
        </h3>
        <h3 class="save" (click)="save('pending')">Save & Send</h3>
      </div>
    </div>
  </div>
</div>
