<div style="display: flex">
  <!-- sidebar.component.html -->
  <div class="sidebar">
    <!-- Logo -->
    <div class="logo">
      <img src="../.././../assets/logo.svg" alt="Logo" />
    </div>

    <!-- Navigation links (if needed) -->

    <!-- User profile -->
    <div style="width: 100%">
      <hr class="horizontal-line" />
      <div class="profile">
        <img src="../.././../assets/image-avatar.jpg" alt="User Profile" />
        <!-- Add other user profile information as needed -->
      </div>
    </div>
  </div>
  <app-new-invoice *ngIf="isInvoiceOpen | async"></app-new-invoice>
</div>
